<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"></section>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Housatonic.HPV_Solo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"></section>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"></supportedRuntime>
	</startup>
	<appSettings>
		<!-- Cloud consumer keys-->
		<add key="GoogleDriveClientId_PV" value="707674968421-ghpnlns2o271u2oqt5hrq7o631ji8d8v.apps.googleusercontent.com"></add>
		<add key="GoogleDriveClientSecret_PV" value="RlkymglPMFwp8w98hJxuHYgn"></add>
		<add key="GoogleDriveClientId_HPP" value="56349691725-jj7j2661p1dm2dnbmaa5r2g2cjllerij.apps.googleusercontent.com"></add>
		<add key="GoogleDriveClientSecret_HPP" value="t6l_fjuR33ZkeQ5xKW1BGXax"></add>
		<add key="BoxClientId_PV" value="6h7scthr5sz2b3lbnm02tn8lauhrg868"></add>
		<add key="BoxClientSecret_PV" value="oXXshzQpV9Bc1OnHHvw7BP133GnAmEYT"></add>
		<add key="BoxClientId_HPP" value="h7h40bhe5r6hkxbyetvhq5v601w4i5it"></add>
		<add key="BoxClientSecret_HPP" value="69L1Dsqe9ztRZIk38pJ0mf4K5tQqYgpB"></add>
		<add key="OneDriveClientId_PV" value="4b6313b7-c8ba-48b5-a14a-9a93d132c5d8"></add>
		<add key="OneDriveClientSecret_PV" value="cpijsxpTKLVMV436}W49}!%"></add>
		<add key="OneDriveClientId_HPP" value="af476230-3c4e-49ac-a32f-aeb1cec465f3"></add>
		<add key="OneDriveClientSecret_HPP" value="ujlYPS9973:|cfslJYVW2+:"></add>
		<add key="DropboxClientId" value="82p98016fxk3wj0"></add>
		<add key="DropboxClientSecret" value="nu9ho0eh99q0sqz"></add>
		<add key="BaseCampClientId_PV" value="1d4719535c6e9134ba3fd0e61cdc85d6a384b702"></add>
		<add key="BaseCampClientSecret_PV" value="43771afa50d827c95b6cf5b96e9321af496e73be"></add>
		<add key="BaseCampClientId_HPP" value="bb20b020617bd5eb361cc072cb88dc898879214e"></add>
		<add key="BaseCampClientSecret_HPP" value="a065003d42cf4da9a84bd1cff263f8ef5c494fce"></add>
		<add key="OpenURL" value="Yes"></add>
		<add key="OpenSharePoint" value="Yes"></add>
		<add key="BaseCamp" value="Yes"></add>
		<add key="OpenProjectServer" value="Yes"></add>
		<add key="ShowErix" value="Yes"></add>
		<add key="OpenBox" value="Yes"></add>
		<add value="Yes" key="OpenOneDrive"></add>
		<add key="OpenDropbox" value="Yes"></add>
		<add key="OpenGoogleDrive" value="Yes"></add>
		<add key="LanguageID" value="1033"></add>
		<add key="License" value="0"></add>
	</appSettings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0"></parameter>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"></provider>
		</providers>
	</entityFramework>
	<userSettings>
		<Housatonic.HPV_Solo.Properties.Settings>
			<setting name="UPS_EmailToken_JSON" serializeAs="String">
				<value></value>
			</setting>
			<setting name="UPS_SubscriptionResponse_JSON" serializeAs="String">
				<value></value>
			</setting>
		</Housatonic.HPV_Solo.Properties.Settings>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"></assemblyIdentity>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"></bindingRedirect>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"></assemblyIdentity>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"></bindingRedirect>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
